/*
 * Primary : 95c11f (vert)
 * Secondary : 6c6d70 (gris clair)
 * Body : 3c3c3b (gris foncé)
 * Header : 95c11f
 */

/*
 * Icons
 */
@import url('./foundation-icons.css');

.full-height{
    height: 100%;
}


/*
 * General
 */
html, body{
    overflow: hidden;
}

.button{
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.2) inset !important;
}

.button__arrow--right:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #FEFEFE;
    border-width: 0.4em 0 0.4em 0.5em;
    display: inline-block;
    float: right;
    margin-left: 1em;
}

.sidebar,
.realm{
    background-color: #FFFFFF;
}


/*
 * Infobar
 */
.infobar{
    background-color: #3c3c3b;
    color: #C2C4C4;
    padding: 0;
    transition: transform 0.5s;
}

.infobar__wrapper{
    display: table;
    width: 100%;
}

.infobar__container{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.infobar__submenu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.infobar__item.is-active{
    background-color: #6c6d70;
}

.infobar__item:first-child{
    border-top: 1px solid #6c6d70;
}

.infobar__item:last-child{
    border-top: 1px solid #6c6d70;
    border-bottom: 1px solid #6c6d70;
}

.infobar__icon{
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 45px;
    line-height: 45px;
    padding: 10px 0;
    margin: 0;
}

.menu{
    background-color: #6c6d70;
    border: none;
    border-top: 1px solid #6c6d70;
    min-width: 300px;
    padding: 30px;
    top: -1px;
}

.infobar__subsubmenu{
    display: table !important;
}

.infobar__infos{
    display: table-cell;
    vertical-align: middle;
}

.infos__title{
    font-weight: bold;
    font-size: 1.2rem;
}

.infos__description{

}


/*
 * Sidebar
 */
.sidebar{
    transition: transform 0.5s;
}

.sidebar__wrapper{
    display: table;
    width: 100%;
}

.sidebar__container{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.sidebar__logolink{
    display: inline-block;
    margin-bottom: 4rem;
}

.sidebar__title{
    hyphens: auto;
    line-height: 40px;

}

.title__link{
    font-weight: bold;
    color: #3c3c3b;
}

.title__subtitle{
    color: #95C11F;
    font-weight: lighter;
}

.sidebar__infos{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*
 * Sliders
 */
.realm{
    padding: 0;
    position: relative;
    transition: transform 0.5s;
}

.slick-list,
.slick-track{
    height: 100%;
}

.realm__image{
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    max-width: none;
    transform: translate3d(-50%, -50%, 0) scale(1.1);
    transition: transform 0.35s ease 0s;
}

.realm__link{
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(149, 193, 31, 0);
    transition: background 0.35s ease 0s;
    overflow: hidden;
    text-align: center;
}

.realm__link:before{
    content: '';
    position: absolute;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: 0 0 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
}

.realm__link:after{
    content: '';
    position: absolute;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 100% 0 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
}

.realm__link:hover{
    background-color: rgba(149, 193, 31, 0.7);
}

.realm__link:hover:before{
    opacity: 1;
    transform: scale(1);
}

.realm__link:hover:after{
    transition-delay: 0.15s;
    opacity: 1;
    transform: scale(1);
}

.realm__link:hover + .realm__slider .realm__image{
    transform: translate3d(-50%, -50%, 0) scale(1);
}

.realm__linkcontainer{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.realm__title{
    margin: 0 auto;
    max-width: 80%;
    color: #FFFFFF;
    opacity: 0;
    transform: scale(1.5);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    text-transform: uppercase;
}

.realm__title--bold{
    font-weight: bold;
}

.realm__link:hover .realm__title{
    opacity: 1;
    transform: scale(1);
}

.realm__description{
    color: #FFFFFF;
    opacity: 0;
    display: block;
    margin: 0 auto;
    padding: 0.5em 0;
    max-width: 50%;
    transform: scale(1.5);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    font-size: 1.5rem;
    line-height: 1;
}

.realm__link:hover .realm__description{
    opacity: 1;
    transform: scale(1);
}


/*
 * Content
 */
.realm__item{
    pointer-events: none;
    overflow: hidden;
    height: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


/*
 * Opening effect
 */
.view-realm .infobar,
.view-realm .sidebar,
.view-realm .realm{
    transform: translate3d(calc(100% - 150vw), 0px, 0px)
}

.realm__content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    height: 0;
    visibility: hidden;
    z-index: 400;
    overflow: hidden;
}

.view-realm .realm__content--show{
    height: 100vh;
    pointer-events: auto;
    visibility: visible;
}

.placeholder {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background: red;
    transform-origin: 0 0;
}

.placeholder.placeholder--trans-in {
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.placeholder.placeholder--trans-out {
    transition: transform 0.5s;
}

.realm__item--show{
    transition: opacity 0.6s;
    height: auto;
    min-height: 100vh;
    opacity: 1;
    pointer-events: auto;
}